* {
  margin:0;
  padding:0; 
}

.top-container {
  background-color: red;
}

.middle-container {
  background-color: blue;
}

.bottom-container {
  background-color: yellow;
}

/*
.container {
  background-color: green;
} */ 

.col {
  padding: 20px;
  border: 20px; 
  margin: 20px;
  background-color: green; 
}
