* {
  margin:0;
  padding:0; 
}

.top-container {
  background-color: #F6F1F1;
}

.middle-container {
  background-color: #19A7CE;
}

.bottom-container {
  background-color: #146C94;
}

/*
.container {
  background-color: #000000;
} */ 

.col {
  padding: 20px;
  border: 20px; 
  margin: 20px;
  background-color: #000000; 
}

.footer-name {
  text-align: center;
  
}

.bottom-img {
  height: 200px;
  width: 200px; 
}

.navbar-brand {
  color: red; 
}

.nav-link {
  color: red; 
}

.navbar-toggler {
  background-color: green;
}

.mid {
  background-color: white; 
}
